
.currency-form{
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Arial, Helvetica, sans-serif;
  margin-bottom:50px;
}

.currency-form fieldset{
	border: none;
  position: relative;
  margin-left:0px;
  padding-left:0px;
}

.currency-form fieldset img{
	position:  absolute;
  margin : 5px;
  padding-left:10px;

}

.currency-form legend {
  font-weight: bold;
	font-size: 1.0em;
	margin-bottom: 10px;
}

.currency-form .info {
   height:40px;
}

.currency-form p {
   margin:0px;
   text-align:center;
}

.currency-form .info .error {
   color:#e87a7a;
}

.currency-form .sourceCurrencyField{
   border: 1px solid #e87a7a;!important;
   cursor: auto;
}

.currency-form .sourceCurrencyField.error{
   border: 1px solid #e87a7a;!important;
}

.currency-form .info .timeMessage {
   color:#109177;
}

.currency-form p.conversionRateMessage {
   text-align:left;
   color: #8a97a0;
   font-size:0.7em;
   font-style: italic;
   padding-left:3px;
   margin-top:0px;
   margin-bottom:10px;
}



.currency-form input[type="text"]{
	font-family: Arial, Helvetica, sans-serif;
	background: rgba(255,255,255,.1);
  border:1px solid #d5d5d5;
	border-radius: 4px;
	font-size: 16px;
	outline: 0;
	padding: 15px;
	width: 90%;
  background-color: #ffffff;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	color:#8a97a0;
	margin-bottom: 5px;
}

.currency-form input[type="text"].targetCurrencyField{
  background-color: #F5F5F5!important;
  cursor: none;
}

.currency-form input[type="text"]:focus,
{
	background: #d2d9dd;
}

.currency-form input[type="button"]
{
  outline:none;
  cursor: pointer;
	position: relative;
	display: block;
	padding: 15px 15px 15px 15px;
  border-radius: 10px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 50%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
  min-width: 120px;
}

.currency-form input[type="button"]:hover,
.currency-form input[type="button"]:focus
{
	background: #109177;
}
